@CHARSET "UTF-8";
body,td,a,div,.p{font-family:arial,sans-serif}
div,td{color:#000000}
a:link,.w,.w a:link{color:#0000cc}
a:visited{color:#551a8b}
a:active{color:#ff0000}

.header{
	background: lightGray;
	height: 20%;
}
	

.loginPrompt {
  background: #dddddd;
	font-style: italic;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 1.25em;
	border: thin solid #aaaaaa;
}

.gwtsolutions-Message {
    padding: 20px;
    margin-bottom: 10px;
	font-style: italic;
	border: thick solid red;
	background: lightGray;
	width: 250px;
	height: 2em;
}

.nameField {
	width: 15em;
}

.passwordField {
	width: 8em;
}

.welcomeMsg {
  margin-bottom: 20px;
	font-style: italic;
	color: blue;
}

.gwt-TabPanel {
  margin-top: 4px;
  
}

.gwt-TabPanelBottom {
  background-color: #E8EEF7;
}

.gwt-TabBar {
  padding-top: 2px;
  border-bottom: 4px solid #87B3FF;
  background-color: #fff;
}

.gwt-TabBarItem {
  padding: 4px;
  cursor: pointer;
  background-color: #e8eef7;
  border-bottom: 2px solid white;
  margin-right: 2px;
}

.gwt-TabBarItem-selected {
  padding: 4px;
  font-weight: bold;
  cursor: default;

  background-color: #87b3ff;
  border-bottom: 2px solid #87b3ff;
  margin-right: 2px;
}