<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>it.polimi.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/it.polimi.Register/loginservice</url-pattern>
  </servlet-mapping>	
	
  <servlet>
    <servlet-name>SendRegistrationMailImpl</servlet-name>
    <servlet-class>it.polimi.server.SendRegistrationMailImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRegistrationMailImpl</servlet-name>
    <url-pattern>/it.polimi.Register/sendregistration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SessionHandlerImpl</servlet-name>
    <servlet-class>it.polimi.server.SessionHandlerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHandlerImpl</servlet-name>
    <url-pattern>/it.polimi.CompleteReg/sessionhandler</url-pattern>
  </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SessionHandlerImpl</servlet-name>
  <url-pattern>/it.polimi.Twitter/sessionhandler</url-pattern>
</servlet-mapping>
<servlet-mapping>
  <servlet-name>SessionHandlerImpl</servlet-name>
  <url-pattern>/it.polimi.Home/sessionhandler</url-pattern>
</servlet-mapping>
  
  <servlet>
    <servlet-name>ConfirmRegistration</servlet-name>
    <servlet-class>it.polimi.server.ConfirmRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmRegistration</servlet-name>
    <url-pattern>/confirmregistration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoadStoreService</servlet-name>
    <servlet-class>it.polimi.server.LoadStoreServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadStoreService</servlet-name>
    <url-pattern>/it.polimi.CompleteReg/loadstoreservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoadStoreService</servlet-name>
    <url-pattern>/it.polimi.Twitter/loadstoreservice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LoadStoreService</servlet-name>
    <url-pattern>/it.polimi.Home/loadstoreservice</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>TwitterService</servlet-name>
    <servlet-class>it.polimi.server.TwitterServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterService</servlet-name>
    <url-pattern>/it.polimi.Twitter/twitter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TwitterService</servlet-name>
    <url-pattern>/it.polimi.Home/twitter</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TwitterCallback</servlet-name>
    <servlet-class>it.polimi.server.TwitterCallback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterCallback</servlet-name>
    <url-pattern>/twittercallback</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>GoogleCallback</servlet-name>
    <servlet-class>it.polimi.server.GoogleCallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleCallback</servlet-name>
    <url-pattern>/googlecallback</url-pattern>
  </servlet-mapping>
  
  
  	<servlet>
		<servlet-name>MailHandler</servlet-name>
		<servlet-class>it.polimi.server.MailHandlerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailHandler</servlet-name>
  <url-pattern>/_ah/mail/*</url-pattern>
</servlet-mapping>

<security-constraint>
  <web-resource-collection>
    <url-pattern>/_ah/mail/*</url-pattern>
  </web-resource-collection>
  <auth-constraint>
    <role-name>admin</role-name>
  </auth-constraint>
</security-constraint>
  
  
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>
</web-app>
