<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	
  <servlet>
    <servlet-name>SendRegistrationMailImpl</servlet-name>
    <servlet-class>it.polimi.server.SendRegistrationMailImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRegistrationMailImpl</servlet-name>
    <url-pattern>/it.polimi.Register/sendregistration</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SessionHandlerImpl</servlet-name>
    <servlet-class>it.polimi.server.SessionHandlerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionHandlerImpl</servlet-name>
    <url-pattern>/it.polimi.CompleteReg/sessionhandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ConfirmRegistration</servlet-name>
    <servlet-class>it.polimi.server.ConfirmRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmRegistration</servlet-name>
    <url-pattern>/confirmregistration</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>
</web-app>
